/* home.module.css */

.customInput::-webkit-outer-spin-button,
.customInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.customInput {
    -moz-appearance: textfield; /* Firefox */
}

.customSelectContainer::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #D1D5DB; /* Tailwind gray-300 */
}

.gridItem {
    height: fit-content; /* Adjust height as needed */
    max-height: 50px;
}

.gridItem:hover {
    height: fit-content;
    max-height: 150px;
}

.faspinner_style {
    max-height: 50px;
    max-width: 50px;
}

.customSelect {
    background-color: #1F2937; /* Tailwind gray-800 */
    color: #D1D5DB; /* Tailwind gray-300 */
    border: 1px solid #374151; /* Tailwind gray-700 */
    padding: 8px;
    border-radius: 4px;
    appearance: none;
}

.customSelect::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #D1D5DB; /* Tailwind gray-300 */
}

.customSelect:focus {
    outline: none;
    border-color: #4A5568; /* Tailwind gray-600 */
}

.customSelect > option {
    background-color: #1F2937; /* Tailwind gray-800 */
    color: #D1D5DB; /* Tailwind gray-300 */
}

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&display=swap');

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    font-family: 'Albert Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label {
    font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.clockContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.timeInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.timeInfo .inputField,
.searchContainer input {
    width: 100%;
    padding: 8px;
    border: 1px solid #374151; /* Tailwind gray-700 */
    border-radius: 4px;
    background-color: #1F2937; /* Tailwind gray-800 */
    color: #D1D5DB; /* Tailwind gray-300 */
    box-sizing: border-box;
}

.rangeSliderContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rangeSliderWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column; /* Change to column for full width slider */
}

.rangeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; /* Full width slider */
    height: 6px;
    background: #374151; /* Tailwind gray-700 */
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    margin-bottom: 10px; /* Add some space between slider and value */
}

.rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #f7b500;
    cursor: pointer;
    border-radius: 50%;
}

.rangeSlider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #f7b500;
    cursor: pointer;
    border-radius: 50%;
}

.rangeSliderValue {
    font-size: 16px; /* Adjust the font size */
}

.searchContainer {
    margin-top: 20px;
}
